.updateProfileContainer {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  display: flex;
  background-color: #1f1e1e;
}
.main-h2 {
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #1f1e1e;
  padding-top: 10%;
  padding-bottom:5%;
}
.updateProfileBox {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.updateProfileForm{
  width: 100%;
  height: 100%;
  min-height: 30vh;
  min-width:30vw;
margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top:5%;
  
}
.updateProfileForm div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding:5%;
}

.updateProfileForm div input {
  width: 100%;
  height: 100%;
  padding: 9%;
  border: 1px solid #000;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}
.updateProfileForm div svg{
  width: 30px;
  height: 30px;
  margin-right: 5%;
}
.updateProfileForm input[type="submit"] {
  width: 100%;
  height: 100%;
  padding: 5%;
  padding-bottom: 10px;
  margin-bottom:50px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

@media screen and(max-width:600px) {
}
