.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 10;
}
.title_name {
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border-radius: 70px;
}
.title_name a {
  text-decoration: none;
}
.title_name:hover {
  background-color: white;
  color: rgb(6, 234, 150);
  padding: 10px;
  border-radius: 70px;
}
.header-bg {
  background-color: black;
  transition: 0.5s;
}
.nav-menu {
  display: flex;
  align-items: right;
  justify-content: right;
}
.nav-menu li {
  padding: 0 1rem;
  list-style: none;
}
.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}
.hamburger-menu {
  display: none;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media screen and (max-width: 980px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(19, 19, 19, 19);
    opacity: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-menu li {
    padding: 1rem 0;
    flex-direction: inherit;
    justify-content: right;
  }
  .nav-menu li a {
    font-size: 1.5rem;
  }
  .nav-menu li a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 0 1rem 0 1rem;
    transition: 0.3s;
  }
  .hamburger-menu {
    display: initial;
    background: whitesmoke;
    border-radius: 10px;
    zoom: 150%;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    transform: 0.5s;
    opacity: 80%;
  }
}
