/** @format */

.main-section {
	width: 100%;
	min-height: 1080px;
	background-color: #1f1e1e;
}
.featured-product {
	color: white;
	text-decoration: underline;
	font-size: 2rem;
	text-align: center;
	padding-top: 3rem;
	font-family: 'Roboto', sans-serif;
	animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 5s; /* don't forget to set a duration! */
}

.cat-product p {
	color: white;
	text-decoration: underline;
	font-size: 2rem;
	text-align: center;
	padding-top: 3rem;
	font-family: 'Roboto', sans-serif;
	animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 5s; /* don't forget to set a duration! */
}

.container-product {
	display: flex;
	margin: 2vmax auto;
	width: 80vw;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
}

.productCard {
	width: 14vmax;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: rgb(48, 48, 48);
	margin: 2vmax;
	transition: all 0.5s;
	padding-bottom: 0.5vmax;
	border: 1px white solid;
	border-radius: 15px;
	overflow: hidden;
}

.productCard > img {
	width: 14vmax;
}

.productCard > div {
	margin: 0.5vmax;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.productCardSpan {
	margin: 0.5vmax;
	font: 300 0.7vmax 'Roboto';
}

.productCard > p {
	font-family: 'Roboto';
	font-size: 1.2vmax;
	margin: 1vmax 0.5vmax;
	margin-bottom: 0;
}

.productCard > span {
	margin: 0.5vmax;
	color: tomato;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1vmax;
}

.productCard:hover {
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

	transform: translateY(-1vmax);
}
